h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.full_page_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(162, 158, 158, 0.28)), to(rgba(162, 158, 158, 0.28))), url('../images/03-Sakura-village-2048.jpg');
  background-image: linear-gradient(180deg, rgba(162, 158, 158, 0.28), rgba(162, 158, 158, 0.28)), url('../images/03-Sakura-village-2048.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.footer_div {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 6vh;
  background-color: #29223f;
}

.chidori {
  position: absolute;
  top: auto;
  right: 52%;
  bottom: 0%;
  z-index: 2;
  width: 50vh;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.bro {
  position: absolute;
  top: auto;
  right: 40%;
  bottom: 0%;
  z-index: 1;
  width: 39vh;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.body {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
}

.navbar-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 86.7%, 0.5);
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navlink {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #757575;
  font-size: 15px;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.content-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 74px;
  padding-right: 1vw;
  padding-bottom: 2vw;
  padding-left: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.7);
}

.logo {
  width: 20vw;
}

.coming-soon {
  max-width: 20vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.div-block {
  width: 70vw;
  height: 100%;
}

.footer_rtb {
  position: absolute;
  left: 15vw;
  top: auto;
  bottom: 15%;
  z-index: 4;
  background-color: #fff;
  background-image: url('../images/glass1.png');
  background-position: 50% 50%;
  background-size: contain;
  line-height: 0px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_rtb h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1vw;
  text-align: left;
}

.footer_rtb h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.9vw;
  line-height: 1.5;
}

.footer_rtb p {
  margin-top: 0.2vw;
  margin-bottom: 0px;
  font-size: 0.5vw;
  line-height: 1.5;
}

.footer_rtb h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 18px;
}

.fotterbuttondiv {
  position: absolute;
  left: auto;
  right: 15vw;
  bottom: 15%;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tos-button {
  margin-right: 0.5vw;
  padding: 0px;
  background-color: transparent;
  font-size: 0.5vw;
  line-height: 1.5;
  font-weight: 300;
}

.pp-button {
  margin-right: 0.5vw;
  padding: 0px;
  background-color: transparent;
  font-size: 0.5vw;
  line-height: 1.5;
  font-weight: 300;
}

.contact-button {
  margin-right: 0.5vw;
  padding: 0px;
  background-color: transparent;
  font-size: 0.5vw;
  line-height: 1.5;
  font-weight: 300;
}

.image {
  max-width: 115%;
  margin-top: -5%;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.loading-bg {
  position: relative;
  z-index: 100;
}

.loading-logo {
  position: absolute;
  top: 25%;
  bottom: 25%;
  z-index: 150;
}

.loading-lottie {
  width: 50vw;
}

.loading_div {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.loading_heading {
  font-family: Exo, sans-serif;
  color: #228bff;
  font-size: 2vw;
  line-height: 1.5;
  text-align: center;
}

.loading_center_animation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading {
  font-family: Exo, sans-serif;
  color: #228bff;
  text-shadow: 1px 1px 6px #f8f8f8;
}

.loading_char1 {
  position: absolute;
  bottom: 0%;
  z-index: 200;
  width: 45vh;
}

.loading_char2 {
  position: absolute;
  left: 25%;
  bottom: 0%;
  z-index: 199;
  width: 50vh;
  max-width: 30vw;
}

.loading_char3 {
  position: absolute;
  right: 25%;
  bottom: 0%;
  z-index: 199;
  width: 50vh;
}

.socialmedia {
  position: absolute;
  right: 15vw;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.socialmedialink {
  position: relative;
  width: 4%;
  margin-right: 1%;
  margin-left: 1%;
}

.container {
  position: absolute;
  top: 25%;
  right: 15vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.popuptos {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1001;
  display: none;
  width: 800px;
  height: 400px;
  margin: auto;
  border-radius: 1vw;
  background-color: hsla(0, 0%, 100%, 0.82);
}

.tos {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: auto;
  width: 80%;
  height: 80%;
  margin: auto;
}

.popup_off {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 14px 22px 14px 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  cursor: pointer;
}

.image-19 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.image-20 {
  position: absolute;
  top: 0%;
  z-index: 500;
  display: none;
}

@media screen and (max-width: 991px) {
  .footer_div {
    height: 8vh;
  }

  .chidori {
    left: -24%;
    right: auto;
  }

  .bro {
    right: -9%;
    display: none;
  }

  .menu-button {
    background-color: hsla(0, 0%, 78.4%, 0.5);
  }

  .menu-button.w--open {
    background-color: hsla(0, 0%, 78.4%, 0.7);
  }

  .nav-menu-2 {
    background-color: hsla(0, 0%, 78.4%, 0.7);
  }

  .hero {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo {
    width: 40vw;
  }

  .coming-soon {
    max-width: 35vw;
  }

  .footer_rtb {
    top: 15%;
    bottom: 0%;
  }

  .footer_rtb h2 {
    font-size: 1.5vw;
  }

  .footer_rtb h4 {
    font-size: 1.2vw;
  }

  .footer_rtb p {
    font-size: 0.7vw;
  }

  .fotterbuttondiv {
    top: 50%;
    bottom: auto;
  }

  .loading-logo {
    top: 15%;
  }

  .loading-lottie {
    width: 80vw;
  }

  .loading_heading {
    font-size: 5vw;
  }

  .loading_char1 {
    bottom: -5%;
    max-width: 50vh;
  }

  .loading_char2 {
    left: -10%;
    width: 50vh;
    max-width: none;
  }

  .loading_char3 {
    right: -10%;
    width: 50vh;
    max-width: none;
  }

  .socialmedia {
    right: 45%;
    bottom: 55%;
    width: 37%;
    height: 20%;
    background-color: transparent;
  }

  .socialmedialink {
    width: 3%;
    margin-right: 0%;
    margin-left: 1%;
  }

  .container {
    top: 15%;
    padding-right: 0px;
  }

  .popuptos {
    width: 600px;
    background-size: 600px 400px;
  }

  .tos {
    width: 75%;
  }

  .loading_bg_normal {
    display: none;
  }

  .image-20 {
    position: static;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .chidori {
    left: -13%;
    right: auto;
  }

  .bro {
    right: 30%;
  }

  .footer_rtb h2 {
    font-size: 1.9vw;
  }

  .footer_rtb h4 {
    font-size: 1.5vw;
  }

  .footer_rtb p {
    font-size: 0.8vw;
  }

  .preloader {
    display: none;
  }

  .loading-logo {
    top: 10%;
  }

  .loading-lottie {
    width: 50vw;
  }

  .loading_char1 {
    max-width: 50vh;
  }

  .loading_char2 {
    left: -3%;
    width: 50vh;
    max-width: none;
  }

  .loading_char3 {
    right: -3%;
    width: 50vh;
    max-width: none;
  }

  .popuptos {
    width: 400px;
    height: 500px;
    background-size: 400px 500px;
  }

  .tos {
    width: 65%;
  }

  .popup_off {
    margin-right: 14px;
  }
}

@media screen and (max-width: 479px) {
  .chidori {
    left: -27%;
    width: 40vh;
  }

  .bro {
    display: none;
  }

  .hero {
    margin-top: -8vh;
  }

  .content-1 {
    padding-right: 1vh;
    padding-left: 1vh;
  }

  .logo {
    width: 70vw;
  }

  .coming-soon {
    max-width: 50vw;
  }

  .loading-logo {
    top: 5%;
  }

  .loading-lottie {
    width: 80vw;
  }

  .loading_heading {
    font-size: 4vh;
  }

  .loading_char1 {
    bottom: -5%;
    overflow: hidden;
    width: 40vh;
    max-width: none;
  }

  .loading_char2 {
    left: -30vw;
    z-index: 198;
    overflow: hidden;
    width: 60vh;
    max-width: none;
  }

  .loading_char3 {
    right: -60vw;
    overflow: hidden;
    width: 60vh;
    max-width: none;
  }

  .socialmedia {
    bottom: 62%;
  }

  .popuptos {
    width: 90%;
    background-size: 90% 500px;
  }

  .popup_off {
    margin-top: 2%;
    margin-right: 7%;
  }

  .loading_bg_normal {
    display: none;
  }

  .image-20 {
    position: static;
    display: block;
  }
}